.datepicker {
    position: relative;
}

.selectWrapper-div {
    position: absolute;
    width: auto;
    top: 120%;
    left: 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}

tr.d-tr {
 
    width: 100%;
   
    padding: 1px 5px;
}
.datepicker-header {
    background: rgb(255, 87, 34);
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}

select.select-month, select.select-year {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    margin-right: 20px;
    background: rgb(255, 255, 255);
    border-radius: 54px;
    color: rgb(255, 87, 34);
}

select.select-year {
    order: -1;
}

table.table-datepicker {
    width: 100%;
    border-collapse: collapse;
}


* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
   }

select.select-year {
    margin-right: 0px;
}

tr.d-th td {
    color: rgb(255, 87, 34);
    padding: 5px !important;
    font-size: 14px;
    text-transform: capitalize;
}
tr.d-tr td {
    padding: 0 !important;
    color: rgb(136, 136, 136);
    text-align: center;
    cursor: pointer;
}
td.d-td div {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3px !IMPORTANT;
}
td.d-td.disabled div:hover {
    background: none;
    cursor: default;
}
.dp-select-div:hover {
    cursor: pointer;
}
td.d-td.disabled:hover {
    background: none;
    cursor: default;
}

td.d-td div:hover {
    background: #e4e4e4;
    border-radius: 50px;
}

td.d-td.active div, td.d-td.active div:hover {
    background: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    position: relative;
    padding: 0 !IMPORTANT;
    width: 29px;
    height: 29px;
}
td.d-td.active div:before {
    width: 33px;
    height: 33px;
    position: absolute;
    border: 1px solid rgb(255, 87, 34);
    content: "";
    z-index: -4;
    background: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: -99999;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-51%);
}



tr.d-th {
    background: rgb(255, 255, 255);
    
    width: 100%;
    
    padding: 0 5px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
select.select-month {
    display: none;
}

select.select-year {
    display: none;
}

.dp-select-parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dp-prev, .dp-next {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}
.dp-select-div {
    flex: 0 0 65%;
    background: rgb(255, 255, 255);
    height: 33px;
    border-radius: 18px;
    text-align: center;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 87, 34);
    padding: 0 15px;
    order: -1;
    font-size: 15px;
    font-weight: 500;
}
.dp-prev i, .dp-next i {
    transform: rotate(90deg);
    font-size: 24px;
}