@font-face {
    font-family: SegoeUI Light;
    src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI Semi Light;
    src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI Bold;
    src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI Semi Bold;
    src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

* {
    font-family: "SegoeUI", sans-serif;
    box-sizing: border-box;
    outline: none !important;
}
body {
    font-family: "SegoeUI", sans-serif !important;
}

.dModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000bf;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.dModal-content {
    background: white;
    max-width: 80%;
    margin: 0 auto;
    max-height: 90%;
    width: 80%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
}

.dModal-content.dModal-left-content .dModal-body {
    height: 80%;
}

.dModal-content.dModal-right-content .dModal-body {
    height: 80%;
}

.dModal-header * {
    margin: 0;
}


.dModal-content.dModal-bottom-content .dModal-body {
    height: 43%;
}

.dModal-content.dModal-right-content .dModal-body {
    height: 80%;
}

.dModal-content.dModal-full-content .dModal-body {
    height: 80%;
}

.dModal-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
    line-height: 0;
    padding-bottom: 5px;
    cursor: pointer;
}

@keyframes shake {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}
.shake{
    animation: shake .5s ease;
}

.dModal-show{
    opacity: 1;
    visibility: visible;
}

.dModal-header {
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #e9ecef;
}

.dModal-body {
    height: calc(100% - 125px);
    overflow: auto;
    padding: 10px 20px;
    flex: 1;
    font-size: 16px;
}
.dModal-body::-webkit-scrollbar{
    width: 6px;
}
.dModal-body::-webkit-scrollbar-track {
    background: #e9ecef;
}
.dModal-body::-webkit-scrollbar-thumb {
    background: #1074e7;
    border-radius: 50px;
}

.dModal-body > * {
    padding: 0;
}

.dModal-body, .dModal-body * {
    color: #3a3e41;
}

.dModal-footer {
    padding: 15px 20px;
    border-top: 1px solid #e9ecef;
}

.d-modal-button-div {
    margin: -5px 0 !important;
}

.dModal-content button[type=submit], input[type=submit] {
    background: #34c574;
    color: #fff;
    border-color: #34c574;
    cursor: pointer;
    font-weight: 600;
    width: auto;
    margin-right: .5em;
    padding: .8em 1.2em;
    margin-bottom: 1em;
    margin-top: 1em
}

.dModal-content button[type="submit"]:focus, input[type="submit"]:focus {
    box-shadow: 0 0 0 0.2rem rgba(81, 210, 138, .50);
    width: auto
}

.dModal-content button[type="button"], input[type="button"],button[data-modal-open] {
    background: #1074e7 !important;
    border: 1px solid #1074e7 !important;
    padding: .7em 1.3em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: auto;
    margin-right: .5em;
    font-family: "Segoe UI Semibold",sans-serif;
}

.dModal-footer > * {
    margin-top: 0;
    margin-bottom: 0;
}
.dModal-content button[type="button"]:hover, input[type="button"]:hover {
    background: #fff !important;
    color: #1074e7;
}

.dModal-content button[type=button]:focus, input[type=button]:focus {
    box-shadow: 0 0 0 0.2rem #1074e750;
}

.dModal-content button[type=reset], input[type=reset] {
    background: #fb4c5d;
    border: 1px solid #fb4c5d !important;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 0;
    width: auto;
    padding: .7em 1.3em;
}

.dModal-content button[type=reset]:hover, input[type=reset]:hover {
    color: #fb4c5d;
    background: #fff;
    border-color: #fb4c5d;
}

.dModal-content button[type=reset]:focus, input[type=reset]:focus {
    box-shadow: 0 0 0 .2rem rgba(251, 76, 93, .35)
}

.dModal-header * {
    color: #4c535a;
}

.dModal-footer p{
    color: #4c535a;
}
.dModal-header h1, .dModal-header h2, .dModal-header h3, .dModal-header h4, .dModal-header h5, .dModal-header h6,
.dModal-footer h1, .dModal-footer h2, .dModal-footer h3, .dModal-footer h4, .dModal-footer h5, .dModal-footer h6{
    font-size: 17px;
    font-family: SegoeUI Semi Bold, sans-serif !important;
    font-weight: bold;
    color: #4c535a;
}
.d-modal-button-div {
    text-align: right;
}

.dModal-footer button {
    font-family: SegoeUI Semi Bold, sans-serif !important;
}

.dModal-content.dModal-full-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
}

.dModal-content.dModal-bottom-content {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    top: unset;
    transform: none;
    left: 0;
}

.dModal-content.dModal-sm-content .dModal-header{
    padding: 15px;
}

.dModal-content.dModal-sm-content .dModal-footer{
    padding: 10px 15px;
}

.dModal-content.dModal-sm-content .dModal-body{
    padding: 10px 15px;
}

.dModal-content.dModal-sm-content .dModal-close {
    right: 15px;
}
.dModal-content.dModal-bottom-content {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    top: unset;
    transform: none;
    left: 0;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.dModal-content.dModal-left-content {
    top: 0;
    transform: none;
    left: 0;
    height: 100%;
    max-height: 100%;
    width: 40%;
    min-width: 300px;
    max-width: 100%;
    border-radius: 0 10px 10px 0;
}

.dModal-content.dModal-right-content {
    top: 0;
    transform: none;
    right: 0;
    left: unset;
    height: 100%;
    max-height: 100%;
    width: 40%;
    min-width: 300px;
    max-width: 100%;
    border-radius: 10px 0 0 10px;
}

.dModal-content.dModal-sm-content {
    width: 500px;
    height: 360px;
    max-width: 500px;
    max-height: 360px;
}

.dModal-content.dModal-md-content {
    width: 700px;
    height: 460px;
    max-width: 700px;
    max-height: 460px;
}

@media screen and (max-width: 768px) {
    .dModal-content {
        width: 90%;
        max-width: 90%;
    }

    .dModal-content.dModal-md-content {
        width: 500px;
        height: 360px;
        max-width: 500px;
        max-height: 360px;
    }
}

@media screen and (max-width: 600px) {
    .dModal-content.dModal-md-content {
        width: 80%;
        height: 300px;
        max-width: 80%;
        max-height: 300px;
    }

    .dModal-content.dModal-sm-content {
        width: 75%;
        height: 260px;
        max-width: 75%;
        max-height: 260px;
    }

    .dModal-footer button {
        font-size: 12px;
        font-family: SegoeUI Semi Bold, sans-serif !important;
    }

    .dModal-body {
        font-size: 15px;
        padding: 10px;
    }

    .dModal-close {
        right: 10px;
    }

    .dModal-header {
        padding: 10px;
    }

    .dModal-header h1, .dModal-header h2, .dModal-header h3, .dModal-header h4, .dModal-header h5, .dModal-header h6 {
        font-size: 17px;
        font-weight: 500;
        font-family: SegoeUI Semi Bold, sans-serif !important;
    }

    .dModal-content button[type="button"], input[type="button"], .dModal-content button[type=reset], input[type=reset] {
        padding: .6em 1.3em;
    }

    .dModal-footer {
        padding: 10px;
        border-top: 1px solid #e9ecef;
    }
}

@media screen and (max-width: 500px) {
    .dModal-content {
        max-width: 95%;
        width: 95%;
    }

}
